<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8">
    <title></title>
  </head>
  <body>

    <form method="post" action="/new">
      <p>Puppy Name:
        <textarea name="name"></textarea>
      </p>
      <p>Breed:
        <textarea name="breed"></textarea>
      </p>
      <p>Age:
        <textarea name="age"></textarea>
      </p>
      <button type="submit" value="submit">Go!</button>
    </form>
 </body>
</html>
