<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8">
    <title></title>
  </head>
  <body>


      <p>Puppy Name: <%= @puppy.name %>
      </p>
      <p>Puppy Breed: <%= @puppy.breed %>
      </p>
      <p>Puppy Age: <%= @puppy.age %>
      </p>

 </body>
</html>
