<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8">
    <title></title>
  </head>
  <body>
    <h1>Welcome</h1>
    <p>
      <a href ="/new">Click Here To List A Puppy</a>
    </p>
 </body>
</html>
